div.stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -100vh;
  left: 0;
  margin: 0;
  padding: 20px;
  transition: 0.5s ease-out;
  cursor: pointer;
}
div#stage_1 {
  top: 0;
}




body {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  min-height: 100vh;
  margin: 0;
}
header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
header .span6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
header .container {
  padding-top: 0px;
  padding-bottom: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

/*Gallery*/
#gallery div {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
#gallery div:hover {
  cursor: pointer;
}
.right {
  text-align: right;
}


/*Nav*/
nav {
  font-size: 16px;
  top: 64px;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1200px;
  margin: auto;
  text-align: right;
}
nav ul {
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
}
nav li {
  height: 0;
  list-style-type: none;
  padding-top: 10px;
  opacity: 0;
  transition: 0.5s;
}
nav a:hover {
  cursor: pointer;
}


/*Burger*/
header span {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
header span span {
  display: block;
}
header span.logo-container {
  margin-left: 24px;
  margin-right: 0;
  width: 32px;
  padding-left: 24px;
  padding-right: 12px;
}
header span.hamburger-container {
  font-size: 64px; 
}
span.hamburger-container {
  width: 64px;
}
#nav-hamburger {
  cursor: pointer;
}
#container-hamburger {
  width: 60px;
  height: 60px;
  display: inline-block;
}
#container-hamburger span {
  background-color: #fff;
  height: 8px;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  margin: 4px;
}
#hamburgerTop {
  top: 0;
}
#hamburgerMid {
  top: 12px;
}
#hamburgerBottom {
  top: 24px;
}
.animcomplete #hamburgerTop {
  width: 100%;
  transform: translate(0, 24px) rotate(45deg);
}
.animcomplete #hamburgerMid {
  width: 0;
  height: 0;
  transform: translate(30px, 0);
}
.animcomplete #hamburgerBottom {
  width: 100%;
  transform: translate(0, -12px) rotate(-45deg);
}
.open #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
}
.open #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
}
.open #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
}
.closed #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
}
.closed #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
}
.closed #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
}

/* Hamburger CSS Animation */
@keyframes hamburgerTopBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 6px;
    transform: translate(26px, 8px);
  }
  60% {
    width: 8px;
    transform: translate(26px, 24px);
  }
  90% {
    width: 120%;
    transform: translate(-8px, 24px) rotate(60deg);
  }
  100% {
    width: 100%;
    transform: translate(0, 24px) rotate(45deg);
  }
}
@keyframes hamburgerMidBar {
  0% {
    width: 100%;
    height: 8px;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    height: 8px;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    height: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 6px;
    height: 8px;
    transform: translate(26px, 0);
  }
  60% {
    width: 8px;
    height: 8px;
    transform: translate(26px, 0);
  }
  61% {
    width: 0;
    height: 0;
    transform: translate(30px, 0);
  }
  100% {
    width: 0;
    height: 0;
    transform: translate(30px, 0);
  }
}
@keyframes hamburgerBottomBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 8px;
    transform: translate(26px, -8px);
  }
  60% {
    width: 12px;
    transform: translate(26px, -12px);
  }
  90% {
    width: 120%;
    transform: translate(-8px, -12px) rotate(-60deg);
  }
  100% {
    width: 100%;
    transform: translate(0, -12px) rotate(-45deg);
  }
}

  /* for desktop */
  main {
    margin: auto;
    margin-top: 128px;
    margin-bottom: 128px;
    border-radius: 24px;
    max-width: 1200px;
  }
  header {
    font-size: 16px;
  }
  header {
    height: 64px; 
  }
  header::after {
    height: 16px;
    top: 64px;
  }
  h1 span.highlight {
    display: inline;
  }
  header span.logo-container .logo-small-desktop {
    display: block;
  }
  header span.logo-container .logo-small {
    display: none;
  }
  span.hamburger-container {
    width: 32px;
  }
  #nav-hamburger {
    cursor: pointer;
  }
  #container-hamburger {
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  #container-hamburger span {
    background-color: #fff;
    height: 4px;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 2px;
    margin: 2px;
  }
  #hamburgerTop {
    top: 0;
  }
  #hamburgerMid {
    top: 6px;
  }
  #hamburgerBottom {
    top: 12px;
  }
  .animcomplete #hamburgerTop {
    width: 100%;
    transform: translate(0, 12px) rotate(45deg);
  }
  .animcomplete #hamburgerMid {
    width: 0;
    height: 0;
    transform: translate(15px, 0);
  }
  .animcomplete #hamburgerBottom {
    width: 100%;
    transform: translate(0, -6px) rotate(-45deg);
  }
  .open #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .closed #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
  }

  /* Hamburger CSS Animation */
  @keyframes hamburgerTopBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, 4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, 12px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, 12px) rotate(60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, 12px) rotate(45deg);
    }
  }
  @keyframes hamburgerMidBar {
    0% {
      width: 100%;
      height: 4px;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      height: 4px;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      height: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      height: 4px;
      transform: translate(13px, 0);
    }
    60% {
      width: 4px;
      height: 4px;
      transform: translate(13px, 0);
    }
    61% {
      width: 0;
      height: 0;
      transform: translate(15px, 0);
    }
    100% {
      width: 0;
      height: 0;
      transform: translate(15px, 0);
    }
  }
  @keyframes hamburgerBottomBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, -4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, -6px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, -6px) rotate(-60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, -6px) rotate(-45deg);
    }
  }
