body {
  font-family: 'Open Sans', sans-serif;
}


/*Gallery*/
#gallery div {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}


/*Burger*/
header span {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
header span span {
  display: block;
}
header span.logo-container {
  margin-left: 24px;
  margin-right: 0;
  width: 32px;
  padding-left: 24px;
  padding-right: 12px;
}
header span.hamburger-container {
  font-size: 64px; 
}
span.hamburger-container {
  width: 64px;
}
#nav-hamburger {
  cursor: pointer;
}
#container-hamburger {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  display: inline-block;
}
#container-hamburger span {
  background-color: #E6EBF2;
  height: 8px;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  margin: 4px;
}
#hamburgerTop {
  top: 0;
}
#hamburgerMid {
  top: 12px;
}
#hamburgerBottom {
  top: 24px;
}
.animcomplete #hamburgerTop {
  width: 100%;
  transform: translate(0, 24px) rotate(45deg);
}
.animcomplete #hamburgerMid {
  width: 0;
  height: 0;
  transform: translate(30px, 0);
}
.animcomplete #hamburgerBottom {
  width: 100%;
  transform: translate(0, -12px) rotate(-45deg);
}
.open #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
}
.open #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
}
.open #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
}
.closed #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
}
.closed #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
}
.closed #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
}

/* Hamburger CSS Animation */
@keyframes hamburgerTopBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 6px;
    transform: translate(26px, 8px);
  }
  60% {
    width: 8px;
    transform: translate(26px, 24px);
  }
  90% {
    width: 120%;
    transform: translate(-8px, 24px) rotate(60deg);
  }
  100% {
    width: 100%;
    transform: translate(0, 24px) rotate(45deg);
  }
}
@keyframes hamburgerMidBar {
  0% {
    width: 100%;
    height: 8px;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    height: 8px;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    height: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 6px;
    height: 8px;
    transform: translate(26px, 0);
  }
  60% {
    width: 8px;
    height: 8px;
    transform: translate(26px, 0);
  }
  61% {
    width: 0;
    height: 0;
    transform: translate(30px, 0);
  }
  100% {
    width: 0;
    height: 0;
    transform: translate(30px, 0);
  }
}
@keyframes hamburgerBottomBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  10% {
    width: 120%;
    transform: translateX(-8px);
  }
  40% {
    width: 8px;
    transform: translateX(26px);
  }
  50% {
    width: 8px;
    transform: translate(26px, -8px);
  }
  60% {
    width: 12px;
    transform: translate(26px, -12px);
  }
  90% {
    width: 120%;
    transform: translate(-8px, -12px) rotate(-60deg);
  }
  100% {
    width: 100%;
    transform: translate(0, -12px) rotate(-45deg);
  }
}

@media only screen and (min-width: 1200px), only screen and (max-width: 750px) {
  /* for desktop */
  main {
    margin: auto;
    margin-top: 128px;
    margin-bottom: 128px;
    border-radius: 24px;
    max-width: 1200px;
  }
  header {
    font-size: 16px;
  }
  header, footer {
    height: 64px; 
  }
  header::after {
    height: 16px;
    top: 64px;
  }
  h1 span.highlight {
    display: inline;
  }
  header span.logo-container .logo-small-desktop {
    display: block;
  }
  header span.logo-container .logo-small {
    display: none;
  }
  span.hamburger-container {
    width: 32px;
  }
  #nav-hamburger {
    cursor: pointer;
  }
  #container-hamburger {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
  }
  #container-hamburger span {
    background-color: white;
    height: 4px;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 2px;
    margin: 2px;
  }
  #hamburgerTop {
    top: 0;
  }
  #hamburgerMid {
    top: 6px;
  }
  #hamburgerBottom {
    top: 12px;
  }
  .animcomplete #hamburgerTop {
    width: 100%;
    transform: translate(0, 12px) rotate(45deg);
  }
  .animcomplete #hamburgerMid {
    width: 0;
    height: 0;
    transform: translate(15px, 0);
  }
  .animcomplete #hamburgerBottom {
    width: 100%;
    transform: translate(0, -6px) rotate(-45deg);
  }
  .open #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .closed #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
  }

  /* Hamburger CSS Animation */
  @keyframes hamburgerTopBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, 4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, 12px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, 12px) rotate(60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, 12px) rotate(45deg);
    }
  }
  @keyframes hamburgerMidBar {
    0% {
      width: 100%;
      height: 4px;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      height: 4px;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      height: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      height: 4px;
      transform: translate(13px, 0);
    }
    60% {
      width: 4px;
      height: 4px;
      transform: translate(13px, 0);
    }
    61% {
      width: 0;
      height: 0;
      transform: translate(15px, 0);
    }
    100% {
      width: 0;
      height: 0;
      transform: translate(15px, 0);
    }
  }
  @keyframes hamburgerBottomBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, -4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, -6px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, -6px) rotate(-60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, -6px) rotate(-45deg);
    }
  }
}



/*'Discount Bootstrap' Responsive Grid (Mobile First)*/
.colorblock {
  background-color: #839DAF;
  padding: 0.01px;
  width: 620px;
  position: absolute;
  height: 390px;
  z-index: 0;
  top: 165px;
  left: 200px;
}
.container {
  max-width: 1000px;
  margin:auto;
  padding-top: 41.66px;
  padding-bottom: 41.66px
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  margin-top: 41.66px;
  margin-bottom: 41.66px;
}
.column.hybridRow {
  display: flex;
  flex-wrap: wrap;
}
.column.span8.static {
  width: 66.67%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.column.span4.static {
  width: 33.33%;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*'Discount Bootstrap' Responsive Grid Media Queries*/
/*Vertical Mobile*/
@media only screen and (max-width: 600px) {
}
/*Horizontal Mobile & Tablets*/
@media only screen and (min-width: 601px) and (max-width:1000px) {
  .span1 {
    width: 8.33%;
  }
  .span2 {
    width: 16.66%;
  }
  .span3 {
    width: 25%;
  }
  .span4 {
    width: 33.33%
  }
  .span5 {
    width: 41.66%
  }
  .span6 {
    width: 50%;
  }
  .span7 {
    width: 58.34%;
  }
  .span8 {
    width: 66.67%;
  }
  .span9 {
    width: 75%;
  }
  .span10 {
    width: 83.34%;
  }
  .span11 {
    width: 91.67%;
  }
  .span12 {
    width: 100%;
  }
  .spacer {
    padding-right: 0;
    box-sizing: border-box;
  }
  .column.span8.static {
    width: 66.67%;
  }
  .column.span4.static {
    width: 33.33%;
  }
}
/*Desktop*/
@media only screen and (min-width: 1001px) {
  .span1 {
    width: 8.33%;
  }
  .span2 {
    width: 16.66%;
  }
  .span3 {
    width: 25%;
  }
  .span4 {
    width: 33.33%
  }
  .span5 {
    width: 41.66%
  }
  .span6 {
    width: 50%;
  }
  .span7 {
    width: 58.34%;
  }
  .span8 {
    width: 66.67%;
  }
  .span9 {
    width: 75%;
  }
  .span10 {
    width: 83.34%;
  }
  .span11 {
    width: 91.67%;
  }
  .span12 {
    width: 100%;
  }
  .spacer {
    padding-right: 8.33%;
    box-sizing: border-box;
  }
  .column.span8.static {
    width: 66.67%;
  }
  .column.span4.static {
    width: 33.33%;
  }
  p, h3, h2, h1 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .iconLarge {
    padding-left: 0px;
  }
}
