body#colored {
  background-color: #FF6666;
}
div.still-life-frame {
  position: relative;
}
.still-life-image {
  position: absolute;
  background-size: contain;
}
.still-life-image#alarm-clock {
  background-image: url('/images/still-life-alarm-clock.png');
  height: 77px;
  width: 146px;
  top: 362px;
  left: 40%;
}
.still-life-image#window {
  background-image: url('/images/still-life-window.png');
  height: 280px;
  width: 173px;
  top: 70px;
  left: 20%;
}
.still-life-image#picture {
  background-image: url('/images/still-life-picture.png');
  height: 155px;
  width: 116px;
  top: 230px;
}
.still-life-image#mug {
  background-image: url('/images/still-life-mug.png');
  height: 103px;
  width: 100px;
  top: 98px;
  left: 5%;
}
.still-life-image#triangle {
  background-image: url('/images/still-life-triangle.png');
  height: 211px;
  width: 200px;
  right: 20%;
}
.still-life-image#lamp {
  background-image: url('/images/still-life-lamp.png');
  height: 252px;
  width: 167px;
  top: 144px;
  right: 0%;
}
@keyframes floating {
    from {margin-top: 0px;}
    to {margin-top: 20px;}
}
.still-life-image#mug.floating-fast {
  background-image: url('/images/still-life-mug.png');
  height: 103px;
  width: 100px;
  top: 98px;
  animation: floating;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.still-life-image#triangle.floating-slow {
  background-image: url('/images/still-life-triangle.png');
  height: 211px;
  width: 200px;
  animation: floating;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.still-life-image#book {
  background-image: url('/images/still-life-book.png');
  width: 166px;
  height: 105px;
}
.still-life-image#block {
  background-image: url('/images/still-life-block.png');
  width: 120px;
  height: 105px;
  top: 230px;
}
.still-life-image#cube {
  background-image: url('/images/still-life-cube.png');
  width: 163px;
  height: 170px;
  right: 20%;
}
.still-life-image#bottle {
  background-image: url('/images/still-life-bottle.png');
  width: 73px;
  height: 160px;
}
.still-life-image#glass {
  background-image: url('/images/still-life-glass.png');
  width: 46px;
  height: 116px;
}
.still-life-image#tv {
  background-image: url('/images/still-life-tv.png');
  width: 203px;
  height: 239px;
  right: 0%;
  top: 144px;
}
.still-life-image#sp {
  background-image: url('/images/still-life-sp.png');
  width: 157px;
  height: 189px;
  right: 20%;
}
.still-life-image#phone {
  background-image: url('/images/still-life-phone.png');
  width: 173px;
  height: 280px;
}
.still-life-image#sp.floating-slow {
  background-image: url('/images/still-life-sp.png');
  width: 157px;
  height: 189px;
  animation: floating;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.still-life-image#cube.floating-slow {
  background-image: url('/images/still-life-cube.png');
  width: 163px;
  height: 170px;
  animation: floating;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.still-life-image#bottle.floating-fast {
  background-image: url('/images/still-life-bottle.png');
  width: 73px;
  height: 160px;
  top: 98px;
  animation: floating;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.still-life-image#book.floating-fast {
  background-image: url('/images/still-life-book.png');
  width: 166px;
  height: 105px;
  top: 98px;
  animation: floating;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
