div.stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  touch-action: none;
  user-select: none;
}
div.stage .nextButton {
  position: absolute;
  bottom: 24px;
  cursor: pointer;
  left: 50%;
  margin-left: -100px;
}
div.stage div.scene .draggable {
  cursor: pointer;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  touch-action: none;
  user-select: none;
}
div.scene {
  z-index: 1;
  position: absolute;
  touch-action: none;
  user-select: none;
}
.ui {
  z-index: 5; 
}
.navMarker {
  background-color: white;
  margin: 30px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.navMarker.markerActive {
  opacity: 1;
}
.navMarker.markerInactive {
  cursor: pointer;
  opacity: 0.5;
}

div.loading {
  background-image: url('/images/loading.png');
  animation: spin 0.5s linear infinite;
  height: 200px;
  width: 200px;
  filter: brightness(100%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div#pageCover {
  background-color: white;
  transition: 0.2s;
}

div#pageCover::before {
  content: "";
  height: 5px;
  width: 0px;
  display: block;
  background-color: hsl(0, 70%, 55%);
  left: 0px;
  position: absolute;
  animation: 2s loadcycle linear infinite;
}

@keyframes loadcycle {
  0% {
    width: 0%;
    left: 0px
    background-color: hsl(0, 70%, 55%);
  }
  20% {
    width: 20%;
    left: 0%;
    background-color: hsl(60, 70%, 55%);
  }
  40% {
    width: 30%;
    left: 20%;
    background-color: hsl(160, 70%, 55%);
  }
  60% {
    width: 30%;
    left: 50%;
    background-color: hsl(240, 70%, 55%);
  }
  80% {
    width: 20%;
    left: 80%;
    background-color: hsl(320, 70%, 55%);
  }
  100% {
    width: 0%;
    left: 100%;
    background-color: hsl(360, 70%, 55%);
  }
}


.column {
  margin: 0;
  box-sizing: border-box;
  padding: 12px;
}


input, button, textarea {
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 16px;
  font-size: 16px;
  color: white;
  padding: 0px 16px;
  font-family: 'Roboto Slab', sans-serif;
  height: 32px;
  transition: background-color 0.2s;
}
input:focus, button:focus, textarea:focus {
  outline: none;
  background-color: transparent;
}
input:hover, button:hover, textarea:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
input {
  width: 240px;
}
input#searchInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: right;
}
input[type="checkbox"], input[type="radio"] {
  width: 32px;
  padding: 2px;
  border-radius: 8px;
  background-clip: content-box;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="checkbox"]:hover, input[type="radio"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
input[type="checkbox"]:checked, input[type="radio"]:checked {
  background-color: white;
}
input[type="range"] {
  height: 0;
  background-color: white;
  border: 3px solid white;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}
button {
  cursor: pointer;
  box-sizing: content-box;
}
button#searchButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  background-image: url('/images/Search Icon.png');
  float: right;
}
button#searchSort {
  width: 150px;
  padding-left: 0;
  padding-right: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0;
  float: right;
  margin-right: 24px;
}
button#searchCount {
  width: 90px;
  padding-left: 0;
  padding-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  float: right;
}
button#searchButton:disabled, input#searchInput:disabled {
  opacity: 0.5;
  cursor: default;
}
button#searchButton:disabled:hover, input#searchInput:disabled:hover {
  background-color: transparent;
}
body {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  min-height: 100vh;
  margin: 0;
}
header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
header .span6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
header .container {
  padding-top: 0px;
  padding-bottom: 0px;
}
main .container {
  max-width: 1200px;
}
a {
  text-decoration: none;
  color: inherit;
}

/*Gallery*/
#gallery {
  margin-top: 0;
}
#gallery div {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
#gallery div:hover {
  cursor: pointer;
}
.right {
  text-align: right;
}
.column.rightCol span {
  float: right;
}
.column.leftCol {
  min-width: fit-content;
}
h2 {
  margin: 0;
}


/*Nav*/
nav#hamburger-menu {
  font-size: 16px;
  padding: 0;
  margin: 0;
  position: relative;
  width: fit-content;
  height: fit-content;
  text-align: right;
  float: right;
  display: none;
}
nav ul {
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
}
nav li {
  height: 0;
  list-style-type: none;
  padding-top: 10px;
  opacity: 0;
  transition: 0.5s;
}
nav a:hover {
  cursor: pointer;
}


/*Burger*/
header span {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
header span span {
  display: block;
}
header span.logo-container {
  margin-left: 24px;
  margin-right: 0;
  width: 32px;
  padding-left: 24px;
  padding-right: 12px;
}
header span.hamburger-container {
  font-size: 64px; 
}
span.hamburger-container {
  width: 64px;
}
#nav-hamburger {
  cursor: pointer;
}
#container-hamburger {
  width: 60px;
  height: 60px;
  display: inline-block;
}
#container-hamburger span {
  background-color: #fff;
  height: 8px;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  margin: 4px;
}
#hamburgerTop {
  top: 0;
}
#hamburgerMid {
  top: 12px;
}
#hamburgerBottom {
  top: 24px;
}
.animcomplete #hamburgerTop {
  width: 100%;
  transform: translate(0, 24px) rotate(45deg);
}
.animcomplete #hamburgerMid {
  width: 0;
  height: 0;
  transform: translate(30px, 0);
}
.animcomplete #hamburgerBottom {
  width: 100%;
  transform: translate(0, -12px) rotate(-45deg);
}
.open #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite alternate forwards;
}
.open #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite alternate forwards;
}
.open #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite alternate forwards;
}
.closed #hamburgerTop {
  animation: hamburgerTopBar 0.5s ease-in-out 0s infinite alternate-reverse backwards;
}
.closed #hamburgerMid {
  animation: hamburgerMidBar 0.5s ease-in-out 0s infinite alternate-reverse backwards;
}
.closed #hamburgerBottom {
  animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite alternate-reverse backwards;
}


  /* for desktop */
  main {
    margin: auto;
    margin-top: 128px;
    margin-bottom: 128px;
    border-radius: 24px;
    max-width: 1200px;
  }
  header {
    font-size: 16px;
  }
  header {
    height: 64px; 
  }
  header::after {
    height: 16px;
    top: 64px;
  }
  h1 span.highlight {
    display: inline;
  }
  header span.logo-container .logo-small-desktop {
    display: block;
  }
  header span.logo-container .logo-small {
    display: none;
  }
  span.hamburger-container {
    width: 32px;
  }
  #nav-hamburger {
    cursor: pointer;
  }
  #container-hamburger {
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  #container-hamburger span {
    background-color: #fff;
    height: 4px;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 2px;
    margin: 4px;
  }
  #hamburgerTop {
    top: 0;
  }
  #hamburgerMid {
    top: 6px;
  }
  #hamburgerBottom {
    top: 12px;
  }
  .animcomplete #hamburgerTop {
    width: 100%;
    transform: translate(0, 14px) rotate(45deg);
  }
  .animcomplete #hamburgerMid {
    width: 0;
    height: 0;
    transform: translate(15px, 2px);
  }
  .animcomplete #hamburgerBottom {
    width: 100%;
    transform: translate(0, -6px) rotate(-45deg);
  }
  .open #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .open #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite normal forwards;
  }
  .closed #hamburgerTop {
    animation: hamburgerTopBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerMid {
    animation: hamburgerMidBar 0.5s ease-in-out 0s infinite reverse forwards;
  }
  .closed #hamburgerBottom {
    animation: hamburgerBottomBar 0.5s ease-in-out 0s infinite reverse forwards;
  }

  /* Hamburger CSS Animation */
  @keyframes hamburgerTopBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, 6px);
    }
    60% {
      width: 4px;
      transform: translate(13px, 14px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, 14px) rotate(60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, 14px) rotate(45deg);
    }
  }
  @keyframes hamburgerMidBar {
    0% {
      width: 100%;
      height: 4px;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      height: 4px;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      height: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      height: 4px;
      transform: translate(13px, 0);
    }
    60% {
      width: 4px;
      height: 4px;
      transform: translate(13px, 2px);
    }
    61% {
      width: 0;
      height: 0;
      transform: translate(15px, 2px);
    }
    100% {
      width: 0;
      height: 0;
      transform: translate(15px, 2px);
    }
  }
  @keyframes hamburgerBottomBar {
    0% {
      width: 100%;
      transform: translateY(0px);
    }
    10% {
      width: 120%;
      transform: translateX(-4px);
    }
    40% {
      width: 4px;
      transform: translateX(13px);
    }
    50% {
      width: 3px;
      transform: translate(13px, -4px);
    }
    60% {
      width: 4px;
      transform: translate(13px, -6px);
    }
    90% {
      width: 120%;
      transform: translate(-4px, -6px) rotate(-60deg);
    }
    100% {
      width: 100%;
      transform: translate(0, -6px) rotate(-45deg);
    }
  }
